body{
  scroll-behavior: smooth;
  text-decoration: none;
  background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4NRlyrdOm3mImQsDeb8aoClab9ZDiNaBVFxhevmtku_r-rgrkww&s");
}

h1
{
  color:blue;
  font-size: 35px;
}

.btn{
  color:blue;
  background-color: transparent;

}